.header__link {
    z-index: 2;
    cursor: pointer;
    color: var(--main-blue);
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    max-width: 400px;
    text-decoration: none;
}

.header__link:hover {
    opacity:70%;
    transition: 1.5s;
}
