*{
  --main-blue: #2f80ed;
  --grey: #f2f2f2;
  --dark-grey: #1f1f1f;
}
h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin:0;
  padding: 0;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.text {
  margin: 0;
}

.section {
  padding-top: 100px;
}
section:last-child {
  padding-top: 0;
}

.logo, .header__title, .header__subtitle, .header__link {
z-index: 2;
}

.arrow {
  width: 24px;
  height: 24px;
}
.arrow_big {
  width: 32px;
  height: auto;
}

/*header*/

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}
.header__title {
  margin: 0;
  padding-left: 64px;
  font-size: 102px;
  font-weight: 700;
  line-height: 96px;
  width: 730px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 400px;
}

.header__link {
  cursor: pointer;
  position: absolute;
  left: 134px;
  bottom: 30px;
  color: var(--main-blue);
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 400px;
  text-decoration: none;
}

.header__main-illustration {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: var(--main-blue);
  height: 568px;
  width: 568px;
}

/*Секция description*/

.description {
  display: flex;
  justify-content: center;
}
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  display: inline-block;
  width: 175px;
  color: var(--main-blue);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
}

.two-columns__main-text {
  display: inline-block;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

/*Секция digits*/

.digits {
  margin: 0 auto;
  padding-bottom: 100px;
}

.section__title, .section__subtitle {
  margin: 0 auto;
  width: 60%;
}

.section__title {
  padding-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15em;
  text-align: center;
}

.section__subtitle {
  padding-bottom: 60px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.table__cell {
  padding-bottom: 60px;
  width: 250px;
}

.table__cell:nth-child(5), .table__cell:nth-child(6), .table__cell:nth-child(7), .table__cell:nth-child(8) {
  padding-bottom: 0;
}

.table__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15em;
}

.table__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
}

/*Секция feynman*/

.feynman {
  height: 795px;
  position: relative;
  background-color: var(--grey);
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;

}

.feynman__title, .feynman__subtitle {
  margin: 0 auto;
  width: 648px;
  text-align: center;
}

.feynman__title {
  padding-bottom: 70px;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15em;
}

.feynman__subtitle, .feynman__link {
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
}

.feynman__link {
  color: var(--main-blue);
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__arrow {
  width: 32px;
  height: auto;
}

/*Секция kaufman*/

.kaufman {
  position: relative;
  overflow: hidden;
  background-color: var(--dark-grey);
  color: white;
}

.table_theme_dark {
  z-index: 1;
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  z-index: 1;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  padding-bottom: 0;
}

.section__subtitle_theme_dark {
  position: relative;
  z-index: 1;
  padding-bottom: 0;
}

.section__title_theme_dark {
  position: relative;
  z-index: 1;
  padding-top: 90px;
}

.triangle {
  z-index: 0;
  position: absolute;
  top:0;
  right: -210px;
  width: 877px;
  height: 877px;
}

/*footer*/

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  color: white;
  background-color: var(--dark-grey);
}

.logo_place_footer {
  width: 228px;
  height: 32px;
}

.footer__columns {
  margin: 0 auto;
  width:90%;
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_copyright {
  position: relative;
  width: 60%;
}
.footer__column_content_info {
  width: 25%;
}

.footer__column_content_social {
  width: 15%;
}

.footer__author {
  position: absolute;
  left:0;
  bottom:0;
  padding:18px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
 }

.footer__column-heading{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.footer__column-links {
  margin: 20px 0 16px 0;
}

.footer__column-link {
  color:white;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}
