*{
  --main-blue: #2f80ed;
  --grey: #f2f2f2;
  --dark-grey: #1f1f1f;
}
h2, h3, h4 {
  margin: 0;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.text {
  margin: 0;
}

.section {
  padding-top: 100px;
}

.logo, .header__title, .header__subtitle, .header__link {
z-index: 2;
}

.arrow {
  width: 24px;
  height: 24px;
}

/*header*/

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  background-color: #f2f2f2 ;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}
.header__title {
  margin: 0;
  padding-left: 64px;
  font-size: 102px;
  font-weight: 500;
  line-height: 96px;
  width: 730px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 400px;
}

.header__link {
  cursor: pointer;
  position: absolute;
  left: 134px;
  bottom: 30px;
  color: var(--main-blue);
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  width: 400px;
  text-decoration: none;
}

.header__main-illustration {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}

.header__square-pic {
  z-index: 0;
  position: absolute;
  right: 0;
  top: 64px;
  background-color: var(--main-blue);
  height: 568px;
  width: 568px;
}

/* и элемента с модификатором вида ключ-значение */
/*.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}*/

/*Секция description*/

.description {
  display: flex;
  justify-content: center;
}
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  display: inline-block;
  width: 175px;
  color: var(--main-blue);
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2em;
}

.two-columns__main-text {
  display: inline-block;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}

/*Секция digits*/

.digits {
  margin: 0 auto;
  padding-bottom: 100px;
}

.section-title, .section-subtitle {
  margin: 0 auto;
  width: 60%;
}

.section-title {
  padding-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.15em;
  text-align: center;
}

.section-subtitle {
  padding-bottom: 60px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.table {
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table-cell {
  padding-bottom: 60px;
  width: 250px;
}

.table-cell:nth-child(5), .table-cell:nth-child(6), .table-cell:nth-child(7), .table-cell:nth-child(8) {
  padding-bottom: 0;
}

.table-heading {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.15em;
}

.table-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2em;
}

/*Секция feynman*/

.feynman {
  height: 795px;
  position: relative;
  background-color: var(--grey);
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 867px 637px;

}

.feynman__title, .feynman__subtitle {
  margin: 0 auto;
  width: 648px;
  text-align: center;
}

.feynman__title {
  padding-bottom: 70px;
  font-size: 120px;
  font-weight: 500;
  line-height: 1.15em;
}

.feynman__subtitle, .feynman__link {
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
}

.feynman__link {

  color: var(--main-blue);
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.feynman__arrow {
  width: 32px;
  height: auto;
}

